
@mixin header_title ($primary-orange-color, $size) 
{
   color: $primary-orange-color;
   font-size: $size;
}

@mixin color_box($width,$height,$bg-color)
{
	width:$width;
	height:$height;
	background-color:$bg-color;
}

@mixin clearfix() { 
   &:before,
   &:after {
      content: "";
      display: table;
   }
   &:after {
      clear: both;
   }
}