$ods-orange:#ff6000;
$ods-blue:#00aaff;
$ods-grey:#717271;
$ods-white:#fcfcfc;

$ods-yellow:#ffff00;
$ods-green:#76FF03;
$ods-red:#FF3232;
$ods-azure:#4488FF;

$ods-bg-blue:#002858;
$ods-bg-navy:#220040;
$ods-bg-grey:#505050;
$ods-bg-dark:#434343;

$ods-base:#ffffff;
$ods-wb:#cccccc;
$ods-bg-white:#f7f7f7;
$ods-head:#343434;
$ods-black:#0c0c0c;



  
$col-1: 8.33%;
$col-2 :16.66%;
$col-3 :25%;
$col-4 : 33.33%;
$col-5 : 41.66%;
$col-6 : 50%;
$col-7 : 58.33%;
$col-8 : 66.66%;
$col-9 : 75%;
$col-10 : 83.33%;
$col-11 : 91.66%;
$col-12 : 100%;



